@font-face {font-family: Caveat;font-display: swap;src: url("@fonts/Caveat-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Caveat;font-display: swap;src: url("@fonts/Caveat-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
