.section {
  [data-fls-loaded] & {
    visibility: visible !important;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}


.logo {
  position: fixed;
  z-index: 20;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;

  opacity: 0;
  transition: opacity .65s ease;
  [data-fls-loaded] & {
    opacity: 1;
    transition-delay: .5s;
  }


  @media (max-width: toEm(900.98)) and (max-height:toEm(480.98)) {
      opacity: 0 !important;
  }

  @media (min-width:toEm($mobileSmall)) {
    top: 20px;
  }

  // .logo__imgs
  &__imgs {
    @media (max-width:toEm($mobileSmall)) {
      scale: 0.8;
    }

    position: relative;

    img {
      display: block;
    }
  }

  // .logo__main
  &__main {
    width: 151px;
    height: auto;
  }

  // .logo__ok
  &__ok {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-57%, 8%);
    min-width: 215px;
    height: auto;
    opacity: 0;
    transition: opacity .45s ease;

    .--fullpage-section-0 & {
      opacity: 1;
    }
  }
}

.section--main {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  // .section--main__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (max-width:toEm(820.98)) {
      object-position: top;
    }
  }

  // img {
  // 	object-position: top;
  // 	@media (min-width:toEm(820.98)){
  // 		object-position: center;
  // 	}
  // }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;

  min-width: 270px;
  max-width: max-content;
  border-radius: 112px;
  width: 270px;
  min-height: 72px;

  font-size: 26px;
  font-weight: 700;
  transition: box-shadow .3s ease, transform .3s ease;

  &.btn--a {
    color: #fff;
    box-shadow: 0 11px 19px 0 rgba(44, 70, 186, 0.4), inset 0 0px 12px 0 #5197ff;
    background: radial-gradient(50% 50% at 50% 50%, #5694ff 0%, #2f55dc 100%);
  }

  &.btn--b {
    box-shadow: 0 11px 19px 0 rgba(255, 233, 141, 0.4), inset 0 3px 6px 0 #fff3db;
    background: radial-gradient(50% 50% at 50% 50%, #ffdfae 0%, #ffd16d 100%);
  }

  &.btn--c {
    color: #fff;
    box-shadow: 0 11px 19px 0 rgba(255, 255, 255, 0.3), inset 0 2px 10px 0 #fff;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.4) 100%);
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), inset 0 3px 14px rgba(255, 255, 255, 0.6);
      transform: translateY(-3px);
    }
  }

  &:active {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), inset 0 3px 14px rgba(255, 255, 255, 0.6);
    transform: translateY(-3px);
  }
}

%animSection {
  transition: transform 1s ease;
   transform: translate(0%,20%);
    .--fullpage-previous-section & {
      transform: translate(0%,-20%);
    }
    .--fullpage-active-section & {
      transform: translate(0%,0%);
    }
}

%center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width:toEm($mobileSmall)) {
    justify-content: center;
  }
}

%wrapperVW {
  @media (min-width:toEm(820.98)) and (max-height:toEm(740.98)) {
    width: 90vw;
  }
}

.section-0 {
  .section--main {
    @extend %center;
    .section--main__bg {
      opacity: 0;
      [data-fls-loaded] & {
        opacity: 1;
        transition: opacity .3s ease;
      }
    }
  }

  // .section-0__wrapper
  &__wrapper {
    padding-top: 0px;
    padding-bottom: 30px;
    @extend %wrapperVW;
  }

  // .section-0__slider
  &__slider {
    overflow: visible;
    position: relative;

    @media (max-width: toEm(820.98)) {
      max-width: 480px;
      margin-inline: auto;
    }

    @media (max-width:toEm($mobileSmall)) {
      padding-bottom: 30px;
    }

    @media (max-width: toEm(380.98)) {
      padding-bottom: 10px;
    }
  }

  &__slider-wrapper {
    opacity: 0;
    [data-fls-loaded] & {
      opacity: 1;
      transition: opacity .65s ease .2s;
    }
  }

  // .section-0__slide
  &__slide {}

  // .section-0__picture
  &__picture {
    @media (max-width:toEm($mobileSmall)) {
      max-width: 90%;
      margin-inline: auto;
    }
  }

  // .section-0__footer
  &__footer {

     opacity: 0;
    [data-fls-loaded] & {
      opacity: 1;
      transition: opacity .8s ease;
      transition-delay: 0.65s;
    }

    position: relative;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, 0%);

    @media (min-width:toEm(1200.98)) {
      position: absolute;
      transform: translate(-50%, 0);
      bottom: 0;
    }

    @media (max-width:toEm($mobileSmall)) {
      margin-top: -20px;
    }
  }

  // .section-0__title
  &__title {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width:toEm(820.98)) {
      margin-bottom: 15px;
    }

    @media (max-width: toEm(380.98)) {
      font-size: 30px;
    }

    @media (max-width: toEm(380.98)) {
      margin-bottom: 10px;
    }
  }

  // .section-0__pagination
  &__pagination {
    &.swiper-pagination {}
  }

  // .section-0__button
  &__button {
    opacity: 0;
    [data-fls-loaded] & {
      opacity: 1;
      transition-delay: 0.5s;
    }

    position: absolute;
    top: 100%;

    @media (min-width: toEm(820.98)) {
      top: 50%;
    }

    &.swiper-button-prev {
      transform: translate(0%, -100%);
      left: 0;

      @media (min-width:toEm(820.98)) {
        transform: translate(100%, 50%);
      }

      @media (min-width:toEm($mobileSmall)) {
        transform: translate(0%, -50%);
      }
    }

    &.swiper-button-next {
      transform: translate(0%, -100%);
      right: 0;

      @media (min-width:toEm(820.98)) {
        transform: translate(-100%, 50%);
      }

      @media (min-width:toEm($mobileSmall)) {
        transform: translate(0%, -50%);
      }
    }
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 6px;
  max-width: max-content;
  margin-inline: auto;

  .swiper-pagination-bullet {
    display: block;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    background: #fff;
    transform: rotate(-180deg);
    transition: box-shadow .3s ease, opacity .3s ease;
    opacity: .3;

    &.swiper-pagination-bullet-active {
      opacity: 1;
      box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.24);

    }
  }
}

.swiper-button {
  border-radius: 15px;
  background-color: #fff;
  // box-shadow: 0 15px 52px 0 rgba(0, 0, 0, 0.4);
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;

  transition: box-shadow .3s ease;

  svg {
    max-width: 48%;
    height: auto;
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 15px 52px 0 rgba(0, 0, 0, 0.4);
    }
  }

  @media (min-width:toEm(380.98)) {
    width: 60px;
  }

  &.swiper-button-disabled {
    pointer-events: none;
    // opacity: .3;
    background-color: rgba(255, 255, 255, 0.5);
    svg {
      opacity: 0.5;
    }
  }
}


.section-1 {
  @extend %bgImageCover;
  background-position: 50% 100%;
  background-image: url("@img/bgs/bg-sec-2-mb.jpg");

  @media (min-width:toEm(820.98)) {
    background-image: url("@img/bgs/bg-sec-2-pc.jpg");
  }

  .section--main {
    @extend %center;
  }

  // .section-1__wrapper
  &__wrapper {
    // padding-bottom: 30px;
    @extend %wrapperVW;
  }

  // .section-1__body
  &__body {
    position: relative;
    @media (max-width:toEm($mobileSmall)){
       padding-bottom: 100px; 
    }
    @media (max-width: toEm(380.98)){
        padding-bottom: 10px; 
    }
  }

  // .section-1__picture
  &__picture {

  @extend %animSection;
 
    // border: 1px solid #fff;
    max-width: 500px;
    margin-inline: auto;
    @media (min-width:toEm(820.98)){
      max-width: 1230px;
    }
    @media (max-width:toEm($mobileSmall)){
      //  margin-inline: -20px; 
    }
  }

  // .section-1__cta
  &__cta {
    
    transform: translate(0%, -20%);
    @media (min-width:toEm(820.98)){
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 200%);
    }
    @media (max-width:toEm($mobileSmall)){
      margin-top: -10px;
    }
    
    &::before {
      @extend %bgImageContain;
      @media (min-width:toEm(820.98)) {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, -30%) rotate(0deg);
        transform-origin: 0% 50%;
        background-image: url("@img/icons/arrow.svg");
        width: 36px;
        aspect-ratio: 36/67;
        animation: arrowBounce 1.5s infinite ease-in-out;
      }
    }
  }
  
  // .section-1__btn
  &__btn {
    margin-inline: auto;
  }
}

@keyframes arrowBounce {

  0%,
  100% {
    transform: translate(-50%, -30%) rotate(-5deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
}


.section-2 {
  @extend %bgImageCover;
  background-image: url("@img/bgs/bg-sec-3-mb.jpg");

  @media (min-width:toEm(480.98)) {
    background-image: url("@img/bgs/bg-sec-3-pc.jpg");
  }
  .section--main {
    @extend %center;
    overflow: hidden;
    &.--show {
      @media (min-width:toEm(1200.98)) and (max-height: toEm(800.98)) {
        justify-content: flex-end;
      }
      @media (max-width:toEm($mobileSmall)){
        justify-content: flex-end;
      }
    }
    @media (max-width:toEm($mobile)){
      justify-content: center; 
      padding-top: 23vw;
    }
  }

  // .section-2__wrapper
  &__wrapper {
    // overflow: hidden;
    padding-bottom: 20px;
    @media (min-width:toEm(380.98)){
      padding-bottom: 30px;
    }
    @media (min-width:toEm(820.98)) and (max-height:toEm(740.98)) {
      scale: 0.85;
    }
  }
  
  // .section-2__body
  &__body {

    @extend %animSection;
   
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-60%) scale(1);
      @extend %bgImageContain;
      background-image: url("@img/third/smoke.png");
      // width: 1230px;
      @include adaptiveValue("width", 1230, 900);
      aspect-ratio: 1230/820;
      mix-blend-mode: screen;
      opacity: .9;
      // transition: transform .55s;
      // .--show & {
      //   // transition-delay: 0.2s;
      //   transform: translate(-50%,-60%) scale(0.8);
      // }
      @media (min-width:toEm($mobileSmall)){
        transform: translate(-50%,-50%);
      }
    }
    background: radial-gradient(50% 50% at 50% 50%, #6173dd 0%, rgba(255, 255, 255, 0) 100%);
  }
  
  // .section-2__btn
  &__btn {
    // display: none;

    position: absolute;
    z-index: 2;
    margin-inline: auto;
    left: 50%;
    transform: translate(-50%,0);
    top: 20%;
    @media (min-width:toEm($mobileSmall)){
      top: 30%;
    }
    @media (max-width: toEm(380.98)){
      
    }
    @media (any-hover: hover){
      &:hover{
        transform: translate(-50%,-3px);
      }
    }
  }
  
  // .section-2__prediction
  &__prediction {
  }
  
  // .section-2__picture
  &__picture {
    position: relative;
    z-index: 0;
    margin-inline: auto;
    @include adaptiveValue("max-width", 840, 625);
    @media (max-width: toEm(650.98)){
      left: 50%;
      transform: translate(-50%,0);
      min-width: 625px;
    }
    @media (max-width: toEm($mobileSmall)){
      min-width: 550px;
    }
    @media (max-width: toEm(380.98)){
      min-width: 400px;
    }
  }
  
  // .section-2__notes
  &__notes {
    display: none;

    @include adaptiveValue("font-size", 26, 24);
    text-align: center;
    margin-top: -15px;
    p {
      .link {
        text-decoration: underline;
      }
    }
  }
}


.prediction {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 100%;
    max-width: 950px;
    z-index: 2;
    @media (min-width:toEm($mobileSmall)){
      transform: translate(-50%, 21%);
    }
    @media (max-width: toEm(390.98)){
      transform: translate(-50%, -28%);
    }
    @media (max-width: toEm(380.98)){
      transform: translate(-50%, -36%);
    }
		// .prediction__texts
		&__texts {
      text-align: center;
      color: #fff;
      font-weight: 700;
      margin-bottom: 15px;
      @include adaptiveValue("font-size", 44, 28);
      @media (min-width:toEm(480.98)){
        margin-bottom: 30px;
      }
      @media (max-width: toEm(380.98)){
        font-size: 24px !important;
      }
		}

		// .prediction__txt
		&__txt {

      display: none;
      &.--active {
        display: block;
      }
		}

		// .prediction__btns
		&__btns {
      display: flex;
      align-items:center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      @include adaptiveValue("gap", 20, 10);
		}

		// .prediction__btn
		&__btn {
      // margin-inline: auto;
      @media (max-width: toEm(390.98)){
          min-height: 60px;
            font-size: 24px;
      }
      @media (max-width: toEm(380.98)){
        min-height: 50px;
      }
		}
}


.section-3 {
  .section--main {
    overflow: hidden;
    @extend %center;
    justify-content: center;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      backdrop-filter: blur(10px);
      background: rgba(62, 105, 39, 0.01);
      pointer-events: none;
    }
  }
  
  // .section-3__wrapper
  &__wrapper {
    position: relative;
    z-index: 2;

     @extend %animSection;
  }
	// .section-3__wrapper
	&__wrapper {
	}
	// .section-3__title
	&__title {
    font-size: 46px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 37px;
  }
	// .section-3__slider
	&__slider {
    overflow: visible;
    max-width: 770px;
    margin-inline: auto;
    position: relative;
	}
  // .section-3__swiper-wrapper
  &__swiper-wrapper {
  }
	// .section-3__slide
	&__slide {
    pointer-events: none;
    // transition: all .6s ease !important;
    // .--transition & {
    //   opacity: 0.2;
    // }
    &.swiper-slide-active {
      pointer-events: all;
      // opacity: 1;
    }
    .video-youtube {}
    .video-youtube__body {
      width: calc(100% - 47px);
      margin-inline: auto;
    }
    .video-youtube__button {
      &::before {
        box-shadow: 0 15px 52px 0 rgba(0, 0, 0, 0.4);
      }
    }
	}
	// .section-3__button
	&__button {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translate(0%,-50%);
    &.swiper-button-prev {
      left: -10px; 
      @media (min-width:toEm($mobileSmall)){
        left: 0;
      }
    }
    &.swiper-button-next {
      right: -10px;
      @media (min-width:toEm($mobileSmall)){
        right: 0;
      }
    }
	}
}


