<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main data-fls-fullpage data-fls-fullpage-bullets class="page page--home">
	<div class="logo">
		<div class="logo__imgs">
			<img fetchpriority="high" class="logo__main ibg-cn" src="@img/icons/logo.svg" width="150" height="92" alt="лого Хуторок">
			<img fetchpriority="high" class="logo__ok ibg-cn" src="@img/icons/logo-ok.png" width="214" height="113" alt="лого Хуторок">
		</div>
	</div>
	<section data-fls-fullpage-section  class="section section-0">
		<div class="section--main">
			<picture>
				<source srcset="@img/bgs/bg-main-1-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-1-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" fetchpriority="high" src="@img/bgs/bg-main-1-pc.jpg" width="1440" height="996" alt="750">
			</picture>
			<!-- <picture>
				<source srcset="@img/bgs/bg-main-2-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-2-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" fetchpriority="high" src="@img/bgs/bg-main-2-pc.jpg" width="1440" height="996" alt="750">
			</picture> -->
			<!-- <picture>
				<source srcset="@img/bgs/bg-main-3-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-3-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" fetchpriority="high" src="@img/bgs/bg-main-3-pc.jpg" width="1440" height="996" alt="750">
			</picture> -->
			<!-- <picture>
				<source srcset="@img/bgs/bg-main-4-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-4-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" fetchpriority="high" src="@img/bgs/bg-main-4-pc.jpg" width="1440" height="996" alt="750">
			</picture> -->

			<div class="section-0__wrapper">
				<div data-fls-slider class="section-0__slider swiper">
					<div class="section-0__slider-wrapper swiper-wrapper">
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-1-1.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-1-1-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-1-1.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-1-2.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-1-2-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-1-2.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
					</div>
					<!-- <div class="section-0__slider-wrapper swiper-wrapper">
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-2-1.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-2-1-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-2-1.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-2-2.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-2-2-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-2-2.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
					</div> -->
					<!-- <div class="section-0__slider-wrapper swiper-wrapper">
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-3-1.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-3-1-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-3-1.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-3-2.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-3-2-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-3-2.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
					</div> -->
					<!-- <div class="section-0__slider-wrapper swiper-wrapper">
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-4-1.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-4-1-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-4-1.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
						<div class="section-0__slide swiper-slide">
							<div class="section-0__picture">
								<picture>
									<source srcset="@img/slides/slide-4-2.png" media="(min-width: 51.311em)" type="image/webp">
									<source srcset="@img/slides/slide-4-2-mb.png" type="image/webp">
									<img class="ibg-cn" fetchpriority="high" src="@img/slides/slide-4-2.png" width="1440" height="750" alt="bg">
								</picture>
							</div>
						</div>
					</div> -->
					<div class="section-0__footer">
						<p class="section-0__title">Гортай, щоб побачити<br> більше смаків</p>
						<div class="section-0__pagination swiper-pagination"></div>
					</div>
					<button type="button" class="section-0__button swiper-button swiper-button-prev" aria-label="prev">
						<svg width="29" height="15" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 7.375H27.5M2 7.375L8.375 1M2 7.375L8.375 13.75" stroke="black" stroke-width="1.5" stroke-linecap="round" />
						</svg>
					</button>
					<button type="button" class="section-0__button swiper-button swiper-button-next" aria-label="next">
						<svg width="28" height="15" viewBox="0 0 28 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M26.5 7.375H1M26.5 7.375L20.125 1M26.5 7.375L20.125 13.75" stroke="black" stroke-width="1.5" stroke-linecap="round" />
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section style="visibility: hidden;" class="section section-1">
		<div class="section--main">
			<div class="section-1__wrapper">
				<div class="section-1__body">
					<div class="section-1__picture">
						<picture>
							<source srcset="@img/second/section-2-bg-pc.png" media="(min-width: 51.311em)" type="image/webp">
							<source srcset="@img/second/section-2-bg-mb.png" type="image/webp">
							<img class="ibg-cn" loading="lazy" src="@img/second/section-2-bg-pc.png" width="1230" height="695" alt="bg">
						</picture>
					</div>
					<div class="section-1__cta">
						<button type="button" class="section-1__btn btn btn--a" aria-label="Наступна секція">
							<span>Зіграти</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section style="visibility: hidden;" class="section section-2">
		<div class="section--main">
			<div class="section-2__wrapper">
				<div class="section-2__body">
					<button type="button" class="section-2__btn btn btn--b" aria-label="показати передбачення">
						<span>Хочу Ок-передбачення</span>
					</button>
					<div class="section-2__prediction prediction">
						<ul class="prediction__texts">
							<ul class="prediction__texts">
								<li class="prediction__txt --active">
									Чи ок щогодини виходити з колегами на каву? Однозначно ок! А ще дуже ок підписатися на Хуторок в інстаграмі, щоб брати участь у розіграшах.
								</li>
								<li class="prediction__txt">
									Заплановану зустріч скасують. Ну і ок, ти і так не хотів/ла йти. А от на інстаграм Хуторка підписатися хочеш, щоб брати участь в крутих розіграшах.
								</li>
								<li class="prediction__txt">
									Такий день сьогодні, що ок не відповідати на дзвінки. Лише ліжко, улюблений серіал та підписка на Хуторок в інстаграмі, щоб виграти класні призи.
								</li>
								<li class="prediction__txt">
									Все заплановане пройде на ок! Не забудь лише ріденького посьорбати. І підписатися на Хуторок в інстаграмі, щоб не пропустити розіграші суперпризів.
								</li>
								<li class="prediction__txt">
									Ці вихідні ок присвятити собі: ванна, масочка, свічки і щось смачненьке…. А щоб відпочинок пройшов цікавіше — підписуйся на Хуторок в інстаграмі та бери участь в розіграшах.
								</li>
								<li class="prediction__txt">
									Все у тебе буде ок: і на роботі, і в стосунках, і в улюбленому занятті. А ще було б ок підписатися на Хуторок в інстаграмі та брати участь в класних розіграшах.
								</li>
								<li class="prediction__txt">
									Гарний місяць попереду: після всіх витрат твоєму гаманцю буде ок. А якщо підпишешся на Хуторок в інстаграмі, то зможеш виграти багато класних призів.
								</li>
								<li class="prediction__txt">
									Удача каже: “Все ок, я на твоєму боці”. Тому сміливо йди до мети, а ще підпишися на Хуторок в інстаграмі: удача і тут допоможе перемогти в розіграшах.
								</li>
							</ul>

						</ul>
						<div class="prediction__btns">
							<button type="button" id="prediction" class="prediction__btn btn btn--b" aria-label="перемикання на інші передбачення">
								<span>Ще Ок-передбачення</span>
							</button>
							<a href="https://www.instagram.com/nepidvede?igsh=MWd5Y2NjNTE0YnYyZA==" target="_blank" class="prediction__btn btn btn--c" aria-label="посилання">
								<img src="@img/icons/insta.svg" width="24" height="24" alt="Image"> <span>За подарунками*</span>
							</a>
						</div>
					</div>
					<div class="section-2__picture">
						<picture>
							<source srcset="@img/third/plate-pc.png" media="(min-width: 30.061em)" type="image/webp">
							<source srcset="@img/third/plate-mb.png" type="image/webp">
							<img class="ibg-cn" loading="lazy" src="@img/third/plate-pc.png" width="840" height="624" alt="bg">
						</picture>
					</div>
					<div class="section-2__notes">
						<p>🎉 Подарунки чекають! З жовтня по грудень — в <a  href="https://www.instagram.com/nepidvede?igsh=MWd5Y2NjNTE0YnYyZA==" target="_blank" aria-label="link" class="
							link">Instagram</a> ⭐</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-fls-fullpage-section style="visibility: hidden;" class="section section-3">
		<div class="section--main">
			<picture>
				<source srcset="@img/bgs/bg-main-1-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-1-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" loading="lazy" src="@img/bgs/bg-main-1-pc.jpg" width="1440" height="996" alt="750">
			</picture>
			<!-- <picture>
				<source srcset="@img/bgs/bg-main-2-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-2-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" loading="lazy" src="@img/bgs/bg-main-2-pc.jpg" width="1440" height="996" alt="750">
			</picture> -->
			<!-- <picture>
				<source srcset="@img/bgs/bg-main-3-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-3-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" loading="lazy" src="@img/bgs/bg-main-3-pc.jpg" width="1440" height="996" alt="750">
			</picture> -->
			<!-- <picture>
				<source srcset="@img/bgs/bg-main-4-pc.jpg" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/bgs/bg-main-4-mb.jpg" type="image/webp">
				<img class="section--main__bg ibg" loading="lazy" src="@img/bgs/bg-main-4-pc.jpg" width="1440" height="996" alt="750">
			</picture> -->
			<div class="section-3__wrapper">
				<h2 class="section-3__title">Дивись історію тут ✨</h2>
				<div data-fls-slider class="section-3__slider swiper">
					<div class="section-3__swiper-wrapper swiper-wrapper">
						<div class="section-3__slide swiper-slide">
							<div data-fls-videobutton class="video-youtube__body">
								<button class="video-youtube__button" type="button" data-youtube="OCdxexSS1J4" aria-label="кнопка відкриття відео з youtube">
									<picture>
										<source srcset="@img/poster/poster-pc.jpg" media="(min-width: 30.062em)" type="image/webp">
										<source srcset="@img/poster/poster-mb.jpg" type="image/webp">
										<img class="ibg" loading="lazy" src="@img/poster/poster-pc.jpg" width="784" height="400" alt="poster video">
									</picture>
								</button>
							</div>
						</div>
						<!-- <div class="section-3__slide swiper-slide">
							<div data-fls-videobutton class="video-youtube__body">
								<button class="video-youtube__button" type="button" data-youtube="OCdxexSS1J4" aria-label="кнопка відкриття відео з youtube">
									<picture>
										<source srcset="@img/poster/poster-pc.jpg" media="(min-width: 30.062em)" type="image/webp">
										<source srcset="@img/poster/poster-mb.jpg" type="image/webp">
										<img class="ibg" loading="lazy" src="@img/poster/poster-pc.jpg" width="784" height="400" alt="poster video">
									</picture>
								</button>
							</div>
						</div> -->
						<!-- <div class="section-3__slide swiper-slide">
							<div data-fls-videobutton class="video-youtube__body">
								<button class="video-youtube__button" type="button" data-youtube="OCdxexSS1J4" aria-label="кнопка відкриття відео з youtube">
									<picture>
										<source srcset="@img/poster/poster-pc.jpg" media="(min-width: 30.062em)" type="image/webp">
										<source srcset="@img/poster/poster-mb.jpg" type="image/webp">
										<img class="ibg" loading="lazy" src="@img/poster/poster-pc.jpg" width="784" height="400" alt="poster video">
									</picture>
								</button>
							</div>
						</div> -->
					</div>
					<button type="button" class="section-3__button swiper-button swiper-button-prev" aria-label="prev">
						<svg width="29" height="15" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 7.375H27.5M2 7.375L8.375 1M2 7.375L8.375 13.75" stroke="black" stroke-width="1.5" stroke-linecap="round" />
						</svg>
					</button>
					<button type="button" class="section-3__button swiper-button swiper-button-next" aria-label="next">
						<svg width="28" height="15" viewBox="0 0 28 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M26.5 7.375H1M26.5 7.375L20.125 1M26.5 7.375L20.125 13.75" stroke="black" stroke-width="1.5" stroke-linecap="round" />
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>
</main>